html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}
header{ 
	background: #4F5050;
	height: 55px;
	z-index: 500;
	width: 100%;
	

}
#headbar{
	width :1300px;
	position: absolute;
	left:50%;
	margin-left: -650px;
}
#maincontent
{
	width :1300px;
	position: absolute;
	left:50%;
	margin-left: -650px;
}
#footcontent{
	width :1300px;
	position: absolute;
	left:50%;
	margin-left: -650px;
}

section{
	position: absolute;
	left: 0;
	background:black;
	top: 55px;
	color:white;
    width: 100%;
	height: 100%;
	z-index: 1;
}
footer{
	position: absolute;
	background: black;
	height: 130px;
	left: 0;
    top:875px;
    width: 100%;
	margin: 0;
  	padding: 0;
	z-index: 300;
}
#title1{
	color: yellow;
	font-size: 180%;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 400px;
}

#signInBox
{
	color: black;
	position: absolute;
	top: 70px;
	left: 430px;
	height: 715px;
	width: 400px;
	background-color: #EAEAEA;
}
#id{
	position: absolute;
	top: 175px;
	height: 40px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#idText{
	position: absolute;
	top: 190px;
	height: 40px;
	width: 200px;
	left: 40px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#password1{
	position: absolute;
	top: 220px;
	height: 40px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#passwordText{
	position: absolute;
	top: 235px;
	height: 40px;
	width: 200px;
	left: 40px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#password2{
	position: absolute;
	top: 265px;
	height: 40px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#passwordText2{
	position: absolute;
	top: 280px;
	height: 40px;
	width: 200px;
	left: 40px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#name{
	position: absolute;
	top: 310px;
	height: 40px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#nameText{
	position: absolute;
	top: 325px;
	height: 40px;

	left: 40px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#addressnow{
	position: absolute;
	top: 355px;
	height: 40px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   border-bottom: none;
	
}

#postcode{
	position: absolute;
	top: 445px;
	height: 40px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 60%;
}
#findbutton{
	position: absolute;
	top: 447px;
	height: 40px;
	width: 100px;
	left: 214px;
	background-color: #EAEAEA;

   border-bottom: none;
   font-size: 100%;
}
#roadAddress{
	position: absolute;
	top: 400px;
	height: 40px;
	width: 120px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 60%;
}
#detailAddress{
	position: absolute;
	top: 400px;
	height: 40px;
	width: 120px;
	left: 232px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 60%;
}
#addressText{
	position: absolute;
	top: 370px;
	height: 40px;
	left: 40px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#mailaddress{
	position: absolute;
	top: 490px;
	height: 40px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#mailaddress2{
	position: absolute;
	top: 450px;
	height: 35px;
	width: 100px;
	left: 210px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   border-bottom: none;
   font-size: 90%;
}
#mailaddressText{
	position: absolute;
	top: 505px;
	height: 40px;
	width: 200px;
	left: 40px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#telText{
	position: absolute;
	top: 550px;
	
	left: 40px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
   font-size: 100%;
}
#hip1{
	position: absolute;
	top: 505px;
	left: 167px;
   font-size: 100%;
   font-weight: bold;
}
#hip2{
	position: absolute;
	top: 505px;
	left: 243px;
   font-size: 100%;
   font-weight: bold;
}
#tel1{
	position: absolute;
	top: 494px;
	height: 40px;
	width: 50px;
	left: 110px;
	background-color: #EAEAEA;

   font-size: 90%;
}
#tel2{
	position: absolute;
	top: 539px;
	height: 35px;
	width: 200px;
	left: 110px;
	background-color: #EAEAEA;
	 border-left: none;
   border-right: none;
   border-top: none;
}
#tel3{
	position: absolute;
	top: 494px;
	height: 35px;
	width: 50px;
	left: 255px;
	background-color: #EAEAEA;

   font-size: 90%;
}
#err{
	position: absolute;
	top: 175px;
	left: 110px;
	color: red; 
	font-size: 6px; 
	font-weight: bold; }

#idchker{
	position: absolute;
	top: 175px;
	left: 233px;
	height: 42px;
	width: 80px;
font-size: 100%; 
   border-bottom: none;
}
#signupbutton{
	position: absolute;
	top: 605px;
	left: 110px;
	height: 60px;
	width: 180px;
	background-color: orange;
		 border-left: none;
   border-right: none;
   border-top: none;
   border-bottom: none;
   font-size: 190%;
}
#loginpage{
	position: absolute;
	top: 625px;
	left: 150px;
   font-size: 90%;
}


#logo{
	position: absolute;
	left: 140px;
	top: 30px;
}
	